.headerbigbox {
    width: 100%;
    height: 180px;
}

.headerbox {
    width: 100%;
    position: fixed;
    background-color: #000;
    z-index: 10;
}

.header {
    width: 100%;
    position: relative;
    display: block;
}

.vip {
    color: #fff;
    margin-right: 20px;
}

.vip span {
    padding-left: 10px;
    color: pink;
}

.header .header-container .header-content .logo a img,
.header .header-container .nav-content>.logo a img {
    width: 100%;
}

.header .header-container .header-content {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
    min-height: 78px;
}

.header .header-container .header-content .logo {
    width: 153px;
    display: inline-block;
    padding: 32px 0 0;
    position: absolute;
    left: 50%;
    margin-left: -76px;
}

.header .header-container .nav-content {
    max-width: 1396px;
    margin: 10px auto 0;
    padding: 0 78px 0 49px;
}

.header .header-container .nav-content .logo2 {
    display: none;
    width: 100px;
    float: left;
    margin-top: 15px;
}

.header .header-container .nav-content .nav-wrap {
    float: left;
}

.header .header-container .nav-content .nav-wrap ul {
    /* display: flex; */
    float: left;
}

.header .header-container .nav-content .nav-wrap>ul>li {
    float: left;
}

.header .header-container .nav-content .nav-wrap>ul>li>a {
    padding: 0 19px;
    color: #fff;
    line-height: 50px;
}

.header .header-container .nav-content .nav-wrap ul li a:hover {
    text-decoration: none;
    font-weight: 700;
}

.header .header-container .nav-content .nav-wrap ul li>a::before {
    content: "";
    width: 0;
    height: 0;
    overflow: hidden;
    border-style: solid;
    border-width: 7px;
    border-color: #000 transparent transparent;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -7px;
    opacity: 0;
}

.nav-content .nav-wrap li .tag {
    background: #d51b51;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 12px;
    transform: scale(.8, .8);
    line-height: 13px;
    height: 15px;
    display: inline-block;
    padding: 1.5px 4px 0;
    margin: -12px -3px 0 1px;
    vertical-align: middle;
}

.functional-area {
    float: right;
}

.functional-area ul {
    margin-bottom: 0;
}

.functional-area ul li {
    float: left;
    position: relative;
    padding: 8px 0 18px;
    margin-left: 2px;
    vertical-align: middle;
    cursor: pointer;
}

.icon {
    display: inline-block;
    background-image: url(../img/2/ia_100000511.png);
}

.icon-header-search-white {
    background-position: -351px -211px;
    width: 22px;
    height: 22px;
}

.icon-header-cart {
    background-position: 0 -336px;
    width: 18px;
    height: 22px;
}

.icon-header-logins {
    background-position: -89px -301px;
    width: 23px;
    height: 23px;
}


/* 二级菜单 */

.nav-item>li {
    /* float: left; */
    position: relative;
}

.nav-item>li ul {
    width: 1200px;
    position: absolute;
    top: 53px;
    display: none;
    background-color: #fff;
}

.nav-item>li ul>li {
    width: 250px;
    float: left;
    padding: 50px;
}

.nav-item>li ul>li ol {
    width: 1000px;
    float: left;
}

.nav-item>li ul>li ol li {
    line-height: 30px;
}

.nav-item>li ul>li ol .tou {
    font-weight: 700;
    color: #000;
}


/* 产品详情 */

.content-box {
    padding-top: 30px;
    width: 750px;
    margin: 0 auto;
}

.content-box ul {
    display: flex;
    padding-bottom: 30px;
}

.content-box ul li {
    flex: 1;
    float: left;
    font-size: 18px;
    color: #666;
}

.content-boxtab li:nth-child(1) {
    color: #dd0084;
}


/* 回到顶部按钮 */

.runtop {
    width: 50px;
    height: 55px;
    position: fixed;
    top: 500px;
    right: 30px;
    display: none;
    z-index: 10;
}


/* 底部导航部分 */

.icon-mail {
    background-position: -179px -336px;
    width: 21px;
    height: 16px;
}

.footer {
    margin-top: 50px;
    background-color: #000;
}

.footerbox {
    padding: 54px 0;
    color: #fff;
}

.footerbox ul {
    padding: 0 15px 0 150px;
    width: 1366px;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.footerbox ul li {
    width: 20%;
    /* float: left; */
    /* display: block; */
    /* display: flex; */
}

.footerbox li a,
.footerbox li p {
    display: block;
    color: #999;
    font-size: 14px;
    line-height: 26px;
}

.footer-select {
    position: relative;
    color: #fff;
    padding: 0 245px 0 130px;
    max-width: 1330px;
    margin: 0 auto;
}

.footer-select-item {
    float: right;
    width: 100%;
}

.icon-mail {
    background-position: -179px -336px;
    width: 21px;
    height: 16px;
}

.form-input {
    position: relative;
    width: 234px;
}

.form-input input {
    background: 0 0;
    border: 1px solid #b3b3b3;
    font-size: 14px;
    color: #999;
    width: 100%;
    height: 30px;
    padding: 3px 57px 4px 12px;
}

.footer-select .form-input button {
    position: absolute;
    right: 0;
    top: 27px;
    background: 0 0;
    width: 54px;
    height: 20px;
    color: #fff;
    font-size: 14px;
    border: 0;
    border-left: 1px solid #b3b3b3;
    cursor: pointer;
}

.icon-footer-weixin {
    background-position: -230px -301px;
    width: 18px;
    height: 14px;
}

.icon-footer-weibo {
    background-position: -206px -301px;
    width: 18px;
    height: 14px;
}


/* .footer-weixin-img {
        position: absolute;
        top: 15px;
        right: 75px;
        display: none;
    } */

.footer-container {
    background-color: #fff;
    text-align: center;
}

.footer-containerbox {
    padding: 30px;
}

.footer-containerbox p:nth-child(1),
.footer-containerbox p:nth-child(2) {
    font-size: 12px
}

.footer-containerbox p:nth-child(3) {
    font-size: 12px;
    color: #999;
    padding-top: 20px;
}

.footer-containerbox p:nth-child(4) {
    font-size: 12px;
    color: #999;
}

.icon-footer-zggs {
    background-position: -379px -267px;
    width: 17px;
    height: 17px;
}

.icon-footer-hgyab {
    background-position: -292px -265px;
    width: 18px;
    height: 20px;
}


/* 放大镜 */

.detail .enlarge:hover {
    cursor: pointer;
}

.detail .enlarge .middle {
    width: 400px;
    height: 400px;
    border: 1px solid #000;
    position: relative;
}

.detail .enlarge .middle .shade:hover {
    cursor: move;
}

.detail .enlarge .middle .shade {
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 0, .7);
    position: absolute;
    display: none;
    left: 0;
    top: 0;
}

.detail .enlarge .middle>img {
    width: 398px;
    height: 398px;
}

.detail .enlarge .middle .big {
    width: 400px;
    height: 400px;
    position: absolute;
    right: -420px;
    top: 0;
    overflow: hidden;
    border: 1px solid #0f0;
    display: none;
    z-index: 1;
}

.detail .enlarge .small {
    margin-top: 20px;
    width: 400px;
    height: 52px;
}

.detail .enlarge .small .wraper {
    width: 320px;
    position: relative;
    height: 52px;
    overflow: hidden;
    margin-left: 10px;
}

.detail .enlarge .small ul {
    position: absolute;
    left: 0;
    top: 0;
}

.detail .enlarge .small ul li.active {
    border-color: #f00;
}

.detail .enlarge .small ul li {
    float: left;
    margin-right: 5px;
    width: 50px;
    height: 50px;
    border: 1px solid transparent;
}

.detail .enlarge .small:hover>a {
    visibility: visible;
}

.detail .enlarge .small>a {
    width: 20px;
    height: 50px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    visibility: hidden;
}

.detail .enlarge .big img {
    width: 1600px;
    height: 1600px;
    position: absolute;
    left: 0;
    top: 0;
}

.detail .enlarge .small ul li img {
    width: 48px;
    height: 48px;
}


/* 右边详情 */

.detail .description {
    margin: 0 20px;
    width: 580px;
}

.detail .description .price {
    background-color: #ccc;
    padding: 15px 10px;
}

.detail .description .delivery {
    margin-top: 20px;
}

.detail .description .delivery p {
    padding: 30px 0 30px 10px;
    background-color: #eee;
}

.detail .description .delivery select {
    margin-bottom: 10px;
}

.detail .description .addCart {
    margin-top: 20px;
}

.detail .description .share {
    margin-top: 20px;
}

.detail .description .free {
    margin-top: 20px;
}

.detail .description .addCart .number {
    width: 60px;
    height: 40px;
    position: relative;
    float: left;
}

.detail .description .addCart input[name="num"] {
    width: 60px;
    height: 40px;
    outline: none;
    border: none;
    border: 1px solid #ccc;
    padding-left: 6px;
}

.detail .description .addCart .number button {
    position: absolute;
    right: 1px;
    width: 20px;
    height: 19px;
    text-align: center;
    line-height: 20px;
    outline: none;
    border: none;
    font-size: 12px;
    background-color: #eee;
}

.detail .description .addCart .number button.add {
    top: 1px;
}

.detail .description .addCart .number button.reduce {
    bottom: 1px;
    border-top: 1px solid #ccc;
}

.detail .description .addBtn,
.detail .description .toCart {
    float: left;
    margin-left: 30px;
    height: 40px;
    width: 120px;
    background-color: rgb(223, 48, 51);
    outline: none;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
}

.detail .description a.toCart {
    background-color: royalblue;
}


/* 猜你喜欢 */

.detail .guess {
    width: 180px;
}

.detail .guess ul li {
    width: 180px;
    text-align: center;
    margin-bottom: 15px;
}

.detail .guess ul li p {
    margin: 0;
    background-color: #eee;
    font-size: 14px;
}

.detail .guess ul li span {
    color: #f00;
    font-size: 12px;
}


/* 爆款推荐 */

.recommend ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.recommend ul li {
    float: left;
}


/* 下面详情 */

.tab {
    width: 950px;
    border: 1px solid #000;
}

.tab ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: #eee;
}

.tab ul:hover {
    cursor: pointer;
}

.tab ul li {
    width: 300px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background-color: #aaa;
    color: #fff;
}

.tab ul li.active {
    background-color: pink;
    color: #f00;
}

.tab ol li {
    width: 100%;
    display: none;
}

.tab ol li.active {
    display: block;
}


/* 底部 */

.footer {
    position: static;
}